
body {
    background: #909193 url(images/linen.png) repeat;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: black;
    font-size: 24pt;
    font-weight: normal;
    font-style: normal;
    border-bottom: 1px solid black;
}

h2 {
    color: black;
    font-size: 20pt;
    font-weight: normal;
    font-style: normal;
}

h3 {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 16pt;
    font-weight: normal;
    font-style: normal;
}

#consoleDisplay {
    background-color:#DFDBC3;
    border: 2px solid red;
    cursor: default;
}

#statusBar {
    background-color: white;
    border: 2px solid red;
}

#memoryDisplay {
	width:275px; 
	height:255px; 
	overflow:auto;
	border: 1px solid black;
}

#memoryDisplay a {
	padding:1px;
	text-decoration:none;
	padding:4px;
	text-decoration:none;
}

#tabs a:hover, a:active {
	background-color:black;
}

#partition2 {
	display:none;
}

#partition3 {
	display:none;
}

.normal_button {
    width: 100px;
}

.footerText {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    text-align: center;
}