
body {
    background: #909193 url(images/linen.png) repeat;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: black;
    font-size: 24pt;
    font-weight: normal;
    font-style: normal;
    border-bottom: 1px solid black;
}

h2 {
    color: black;
    font-size: 20pt;
    font-weight: normal;
    font-style: normal;
}

h3 {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 16pt;
    font-weight: normal;
    font-style: normal;
}

#display {
    background-color:#DFDBC3;
    border: 2px solid red;
    cursor: default;
}

#statusBar {
    background-color: white;
    border: 2px solid red;
}

#memoryDisplay ul {
	list-style: none;
	padding:0;
	margin:0;
}


#memoryDisplay li {
	display: inline;
	border: solid;
	border-width: 1px 1px 0 1px;
	margin: 0 0.5em 0 0;
}


#memoryDisplay li a {
	padding: 0 1em;
}

#memoryDisplay {
    border: 1px solid black;
    background-color: white;
}

#memoryTable {

}

.normal_button {
    width: 100px;
}

.footerText {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    text-align: center;
}
